<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AutomotiveBusiness",
    "@id": "PmTransOrg",
    "name": "PM trans Ostrov s.r.o.",
    "url": "http://pmtrans.eu",
    "email": "pmtrans@volny.cz",
    "telephone": "+420 775 334 001",
    "slogan": "Váš partner v logistice a servisu.",
    "hasMap": "https://maps.app.goo.gl/pBRMrqE2xUvZCKmB6",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Ostrov",
      "postalCode": "363 01",
      "streetAddress": "Jáchymovská 1424",
      "addressCountry": {
        "@type": "Country",
        "name": "Česká Republika"
      }
    },
    "contactPoints": [
      {
        "@type": "ContactPoint",
        "name": "Michal Bureš",
        "telephone": "+420 775 334 001",
        "contactType": "Servis a odtahová služba",
        "areaServed": "CZ"
      },
      {
        "@type": "ContactPoint",
        "name": "Barbora Klausová",
        "telephone": "+420 775 334 011",
        "contactType": "Logistika",
        "areaServed": "CZ"
      },
      {
        "@type": "ContactPoint",
        "name": "Pavel Černík",
        "telephone": "+420 775 334 004",
        "contactType": "Skladování",
        "areaServed": "CZ"
      }
    ],
    "hasOfferCatalog": {
        "@type": "OfferCatalog",
        "itemListElement": [
          {
            "@type": "Service",
            "name": "Logistika",
            "hasOfferCatalog": {
              "@type": "OfferCatalog",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Nákladní autodoprava"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Nadrozměrná autodoprava"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Dodávková autodoprava"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Skladování"
                  }
                }
              ]
            }
          },
          {
            "@type": "Service",
            "name": "Servis",
            "hasOfferCatalog": {
              "@type": "OfferCatalog",
              "itemListElement": [
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Servis vozidel"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Přestavby vozidel"
                  }
                },
                {
                  "@type": "Offer",
                  "itemOffered": {
                    "@type": "Service",
                    "name": "Odtahová služba"
                  }
                }
              ]
            }
          }
        ]
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "07:30",
        "closes": "17:00"
      }
    ]
  }
</script>
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "WebContent",
      "name": "PM trans Ostrov",
      "alternateName": [
        "PMtrans Ostrov",
        "PM trans Ostrov s.r.o.",
        "PM trans"
      ],
      "description": "Nabízíme kamionovou autodopravu, logistiku, skladování a servis vozidel osobních i nákladních.",
      "keywords": [
        "autodoprava",
        "kamionová doprava",
        "autoservis",
        "servis",
        "logistika",
        "odtahová služba",
        "servis nákladních vozů",
        "NON-STOP",
        "palety",
        "nadrozměr"
      ],
      "mainEntity": {
          "@id": "PmTransOrg"
      }
  }
</script>